* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    color: white !important;
    font-weight: 900 !important;
    transition: color 1s;
}

header {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, #800000 90%, #a00000) ;
    text-align: center;
}

header > a {
    color: gold;
    font-weight: bold;
}

img.nav {
    width: 100%;
    min-width: 300px;
}

h2 {
    text-align: center;
    padding: 10px;
}

div.container {
    display: flex;
    gap: 10px;
    text-align: center;
    background-color: #111111ff;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    padding: 20px 0;
}

.container > div {
    background-color: gold;
    padding: 20px 10px;
    width: 210px;
    height: 400px;
    min-width: 40px;
    border-radius: 15px;
}

div.img {
    background-image: url(https://plus.unsplash.com/premium_photo-1669882305273-674eff6567af?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 190px 280px;
    height: 280px;
    width: 100%;
    border-radius: 25px;
}

div.str1 > div:nth-child(2) {
    margin-top: 5px;
    font-weight: bold;
    width: 100%;
    background-color: #111111ff;
    color: white;
    height: auto;
    padding: 5px 0px;
    border-radius: 20px 20px 0 0;
}

div.str1 > div:nth-child(3) {
    display: grid;
    background-color: #800000;
    color: gold;
    height: 50px;
    padding: 5px;
    place-items: center;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

div.maps {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.visit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

div.visit > a {
    padding: 15px;
    height: 50px;
    width: 300px;
    background: #800000;
    text-align: center;
    border-radius: 30px;
    color: gold;
}

div.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

div.contact > a {
    box-shadow: 0 0 0 2px black;
    background: gold;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    padding: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    display: inline-block;
    width: 100%;
    background-color: gold;
    padding: 10px;
    color: black;
    text-align: center;
}